.NUTONE {
    border: solid #BCEAD5 3px;
}

p{

    color: rgb(181, 255, 181);
}

.profile{
    border-radius: 50%;
}

body{
    background-color:#47A992;
}

hr{
    /*background-color: #FAF0E6;*/
    border-style: dotted none none; 
    /*height: 0;*/
    width: 30%;
    border-color: whitesmoke;
    border-width: 5px;
}